html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(241 237 237);
    max-width: 1000px;
    margin: auto;
    font-size: 25px;
    font-size: 15px;
}